@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
	flex-grow: 0;
	min-width: 18%;
	padding: 0 2rem;
	border-right: 1px solid;
}

.sidebar-item {
	margin-top: 1rem;
	font-size: x-large;
	font-weight: 100;
}

.sidebar-item > Link.active {
  color: #36289f !important;
  background: black !important;
}

.main {
	flex-grow: 1;
	margin: 1rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	text-align: left;
}

.main-text {
	align-items: flex-start;
}

.main-text > p {
	font-weight: 100;
	font-size: large;
	margin-bottom: 1rem;
}

.main-team {
	align-items: flex-start;
}

.user-card {
	
}

.role-list {
	list-style-type: disc;
	margin-left: 1rem;
}

.role-list > li {
	font-weight: 100;
	font-size: small;
}

.footer {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 2rem;
	bottom: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: inherit;
}